// ------------------------------------
// PALETTE

$main-green: #1E3120; // verde principale di tutta la pagina
$button-green: #3C6F42; // verde di tutti i bottoni

$titolone-color: #3C3E2C; // colore dei titoli delle sezioni
$titolino-color: #7D8160; // colore del paragrafo sotto i titoli delle sezioni

// ------------------------------------